.spinner {
  text-align:center;
  display: block;
}

img {
  max-width: 100%;
}

#article-body-wrapper {
  padding: 0 1rem;
}

.article-card {
  margin: 1rem;
  background-color:white;
  border-radius: 1px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.article-card:active {
  background-color:#ccc;
}

.article-card>.flexbox {
  display:flex;
  align-items: center;
}

.article-card>.flexbox>img {
  width: 125px;
  height: 125px;
}

.article-card>.flexbox>p {
  padding:0.4rem;
}

.article-card>.article-card-footer {
  background-color: #eee;
  color: black;
  border-top:1px solid rgba(0,0,0,0.2);
  padding:0.5rem;
  display:flex;
  flex-flow: column;
}

#load-more-wrapper {
  margin: 1rem;
}

#articles-load {
  background-color: black;
}

#featured-wrapper {
  position:relative;
}

#featured-heading {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  padding: 1rem;
  color:white;
  bottom:0;
  left:0;
}

#featured-heading-textonlymode {
  position: relative;
  color: white;
  padding: 1rem;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
#featured-wrapper-textonlymode {
  position:relative;
  background-color: #C41900;
}

.article-title-wrapper {
  padding: 0.5rem 1rem;
  background-color: white;
  border-bottom: 5px solid #C41900;
}

#article-wrapper>img {
  margin-top:-1rem; /* I don't know why there is a space here!!!*/
}

#article-list-spinner, #single-article-spinner {
  height:100vh;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

#alert-text-only {
  margin: 1rem;
  padding: 1rem;
  background-color: #C41900;
  color:white;
  font-size: 1rem;
  border: 2px solid black;
}

#alert-text-only>span {
  float:right;
}
