.spinner {
  text-align:center;
  display: block;
}

.navigation-bar {
  background-color: #C41900;
}

.navigation-bar>div, .back-button {
  color:white;
}

img {
  max-width: 100%;
  height:auto;
}

#article-body-wrapper {
  padding: 0 1rem;
}

.ad-card {
  margin: 1rem;
  background-color:white;
  border-radius: 1px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.ad-card>.flexbox {
  display:flex;
  align-items: center;
  justify-content: center;
}

.ad-card>.ad-card-footer {
  background-color: #eee;
  color: black;
  border-top:1px solid rgba(0,0,0,0.2);
  padding:0.5rem;
  display:flex;
  flex-flow: column;
}

#load-more-wrapper {
  margin: 1rem;
}

#articles-load {
  background-color: black;
}

#featured-wrapper {
  position:relative;
}

#featured-wrapper, #featured-wrapper-textonlymode {
  padding: 0.5rem 1rem;
  background-color: white;
  border-bottom: 5px solid #C41900;

}

#featured-heading:active {
  background-color:#ccc;
}

#featured-heading-textonlymode {

}
#featured-wrapper-textonlymode {
  position:relative;
}

.article-title-wrapper {
  padding: 0.5rem 1rem;
  background-color: white;
  border-bottom: 5px solid #C41900;
}

#article-wrapper>img {
  margin-top:-1rem; /* I don't know why there is a space here!!!*/
}

#article-list-spinner, #single-article-spinner {
  height:90vh;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

#alert-text-only {
  margin: 1rem;
  padding: 1rem;
  background-color: #C41900;
  color:white;
  font-size: 1rem;
  border: 2px solid black;
}

#alert-text-only>span {
  float:right;
}

.article-card {
  margin: 1rem;
  background-color:white;
  border-radius: 1px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  padding: 1rem;
}

.article-card:active {
  background-color: #ccc;
}

.article-card-info {

}

.share-dots {
  text-align:right;
  color: #999;
  margin: 0rem;
}

.muted {
  color: #999;
}

:checked + .tab-bar__button {
   color: #C41900;
 }

#index-popover-inner {
  width:100%;
  margin-top:2rem;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#index-text-share {
  background-color:#36E250;
}

#index-twitter-share {
  background-color: #4099FF;
}

#index-email-share {
  background-color: #0bc3fb;
}
